body{
    background-image: url('../imagens/fundo.jpg');
}

.topico{
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
    text-align: center;
    font-size: 2.5em;
}

.parte{
    font-family: Snell Roundhand, cursive;
    text-decoration: underline;
    font-weight: bold;
}

.sub{
    margin-left: 3em;
}
.sub-item{
    text-decoration: underline;
    font-weight: bold;
}